# frozen_string_literal: false
<h1>Issue Tracker - All Issues</h1>

<%= form_tag(issues_path, method: "get", class: "filter-form") do %>
  <%= select_tag(:status, options_for_select(["All"] + @statuses), { prompt: "Filter by Status", id: "status-select" }) %>
  <%= select_tag(:assigned_to, options_for_select(["All"] + User.all.map { |user| [user.name] }), { prompt: "Filter by Assignee"}) %>
  <%= submit_tag "Filter", class: "btn btn-primary" %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const statusSelect = document.getElementById('status-select');
    const assignedToSelect = document.getElementById('assigned-to-select');
    const allUsersByStatus = <%= @users_by_status.to_json.html_safe %>;

    statusSelect.addEventListener('change', function() {
      const selectedStatus = statusSelect.value;
      const usersForStatus = allUsersByStatus[selectedStatus] || [];

      assignedToSelect.innerHTML = '';
      assignedToSelect.disabled = usersForStatus.length === 0;

      usersForStatus.forEach(function(user) {
        const option = document.createElement('option');
        option.textContent = user.name;
        assignedToSelect.appendChild(option);
      });
    });
  });
</script>



<table class="styled-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Assigned To</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.title %></td>
        <td><%= issue.description %></td>
        <td><%= issue.priority %></td>
        <td><%= issue.status %></td>
        <td><%= issue.assigned_to ? User.find(issue.assigned_to).name : 'Not Assigned' %></td>

        <td>
          <%= link_to 'Show', issue %>
          <%= link_to 'Edit', edit_issue_path(issue) if current_user.admin? %>
          <%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="link">
  <%= link_to 'New Issue', new_issue_path, class: 'attractive-link' %>
</p>
